{
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./src/i18n/messages/",
        "extractSourceLocation": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
