---
layout: blank
---

<div class="content-block typeset v-home" itemscope itemtype="http://schema.org/LocalBusiness">
    <meta itemprop="name" content="{{ site.company.official_name }}">
    <meta itemprop="openingHours" content="Mo-Fr 10:00-17:00">
    <meta itemprop="hasMap" content="{{ site.company.address.residence.map_link }}">
    <meta itemprop="logo" content="{{ 'assets/img/karmen-logo.png' | absolute_url }}">
    <meta itemprop="url" content="{{ '/' | absolute_url }}">
    {% include_cached seo/company-image.html %}
    {% if site.company.social.twitter %}
        <meta itemprop="sameAs" content="https://twitter.com/{{ site.company.social.twitter }}">
    {% endif %}
    {% if site.company.social.linkedin %}
        <meta itemprop="sameAs" content="https://linkedin.com/company/{{ site.company.social.linkedin }}">
    {% endif %}
    {% if site.company.social.github %}
        <meta itemprop="sameAs" content="https://github.com/{{ site.company.social.github }}">
    {% endif %}
    {% if site.company.social.stackshare %}
        <meta itemprop="sameAs" content="https://stackshare.io/{{ site.company.social.stackshare }}">
    {% endif %}

    <section class="hero hero--vertical" role="banner">
        <h1 class="hero__headline">Multiple 3D printers controller</h1>
        <p class="hero__sub">Karmen is an <a href="https://github.com/{{ site.company.social.github }}" class="anchor anchor--emphasized" target="_blank" rel="noopener">open-source</a> solution for multi-printer management. It allows one to control a bunch of printers remotely, features an efficient management of print queues and offers smooth and user-friendly web interface.</p>
        <ul class="hero__sub hero__list">
            <li>
                <p class="icon--vpn"></p>
                Isolated network and printer auto-discovery
            </li>
            <li>
                <p class="icon--lock"></p>
                Attachable control module for each printer</li>
            <li>
                <p class="icon--camera"></p>
                Realtime printer webcam stream</li>
            <li>
                <p class="icon--queue"></p>
                Simple print queues management</li>
        </ul>
        <div class="hero__cta">
            <a href="https://github.com/fragaria/karmen/releases/latest" class="button" role="button" target="_blank" rel="noopener">Download Karmen</a>
        </div>
    </section>

    <section class="v-home__portfolio">
        <h1 class="splitting-headline anchor-shift" id="projects">
            <span class="splitting-headline__fill">Clients</span>
        </h1>

        {% include portfolio-strip.html %}
    </section>

    <section class="v-home__company">
        <h1 class="splitting-headline anchor-shift" id="get-in-touch">
            <span class="splitting-headline__fill">Stay up-to-date</span>
        </h1>

        <form class="form" action="https://formcarry.com/s/XvDXjaBoXaG" method="POST" accept-charset="UTF-8" >
            <fieldset class="form__line">
                <div class="form-control-wrapper">
                    <input class="form-control" type="email" name="email" placeholder="E-mail" />
                    <input type="hidden" name="_gotcha" />
                    <button class="button" type="submit">Subscribe!</button>
                </div>
            </fieldset>
        </form>
    </section>
</div>
