---
layout: blank
---

<div class="content-block typeset v-home" itemscope itemtype="http://schema.org/LocalBusiness">
    <meta itemprop="name" content="{{ site.company.official_name }}">
    <meta itemprop="openingHours" content="Mo-Fr 10:00-17:00">
    <meta itemprop="hasMap" content="{{ site.company.address.residence.map_link }}">
    <meta itemprop="logo" content="{{ 'assets/img/karmen-logo.png' | absolute_url }}">
    <meta itemprop="url" content="{{ '/' | absolute_url }}">
    {% include_cached seo/company-image.html %}
    {% if site.company.social.twitter %}
        <meta itemprop="sameAs" content="https://twitter.com/{{ site.company.social.twitter }}">
    {% endif %}
    {% if site.company.social.linkedin %}
        <meta itemprop="sameAs" content="https://linkedin.com/company/{{ site.company.social.linkedin }}">
    {% endif %}
    {% if site.company.social.github %}
        <meta itemprop="sameAs" content="https://github.com/{{ site.company.social.github }}">
    {% endif %}
    {% if site.company.social.stackshare %}
        <meta itemprop="sameAs" content="https://stackshare.io/{{ site.company.social.stackshare }}">
    {% endif %}

    <section class="hero hero--vertical" role="banner">
        <h1 class="hero__headline">Karmen will launch in April 2020!</h1>
        <h2 class="hero__sub">Subscribe to our newsletter and stay tuned.</h2>

        <form class="form" action="https://formcarry.com/s/XvDXjaBoXaG" method="POST" accept-charset="UTF-8" >
            <fieldset class="form__line">
                <div class="form-control-wrapper">
                    <input class="form-control" type="email" name="email" placeholder="E-mail" />
                    <input type="hidden" name="_gotcha" />
                    <button class="button" type="submit">Subscribe!</button>
                </div>
            </fieldset>
        </form>
    </section>
</div>
