.footer {
  position: relative;

  &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: -1px;
      width: 100%;
      background: map-get($palette, gray-semilight);
      height: 1px
  }
}

.footer__section {
  position: relative;
  padding-top: gu(1);
  padding-bottom: gu(1);

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: map-get($palette, gray-semilight);
    height: 1px
  }
}

.footer__section--sitelinks {
  display: flex;
  align-items: center;

  .footer__karmenlogo {
    margin-left: auto;
  }
}

.footer__karmenlogo {
  height: gu(4);
}

.footer__brandinfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(tablet up) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.footer__meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    @include breakpoint(tablet up) {
        flex-direction: row;
        margin-bottom: 0;
    }
}

.footer__brand {
    display: block;
    height: gu(1.666);
}

.footer__copy {
    padding-left: 0;
    letter-spacing: .09em;
    text-align: center;
    margin-top: gu();

    @include breakpoint(tablet up) {
        margin-top: 0;
        padding-left: gu(0.5);
        text-align: left;
    }
}

.footer__copy-line {
    font-family: #{map-get($headingtype, font-family)};

    @include baseline(theta, $headingtype, $lineheight: 0.5, $breakpoint: mobile down);
    @include fontsize(theta, $breakpoint: tablet-small up);

    @include breakpoint(tablet-small up) {
        line-height: 1.15;
    }
}

.footer__copy-line--emphasized {
    font-family: getFontFamily($headingtype);
    font-weight: bold;
}

.footer__social {
    line-height: gu(2);
    font-size: gu(.65);

    @include breakpoint(tablet up) {
        font-size: gu(.75);
    }
}

.footer__social-icon {
    transition: #{$anchor-hover-transition};

    &:hover {
        color: map-get($palette, red);
    }
}

.footer__social-icon + .footer__social-icon {
    margin-left: .8em;
}

.footer__linkgroup {
  list-style-type: none;
}

.footer__linkitem a {
  font-family: #{map-get($headingtype, font-family)};
  line-height: 2;
  color: map-get($palette, gray-dark);

  @include fontsize(zeta, $breakpoint: zero up);
}
