<nav id="js-sitenav" class="sitenav js-sitenav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="sitenav__container">
        <div class="content-block content-block__cover--mobile">
            <div class="sitenav__menu js-sitenav-menu">
                <a class="sitenav__brand" href="{{ '/' | relative_url }}">
                    <img alt="{{ site.company.official_name }}" src="{{ '/assets/img/karmen-logo.svg' | relative_url }}">
                </a>
            </div>

            <ul class="sitenav__linkset">
                {% for menuitem in site.data.sitenav %}
                    <li class="sitenav__linkset-item js-sitenav__link"><a href="{{ menuitem.url | relative_url }}" class="sitenav__link typeset__anchor--nounderline js-sitenav-menu__anchor" itemprop="url"><span itemprop="name">{{ menuitem.name }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
