$narrow-parts-width: gu(45);


.v-home-solution {
  padding-top: gu(5);
}

.v-home-pricing,
.v-home-testimonials,
.v-home-story,
.v-home-principle,
.v-home-specs {
  padding-top: gu(2);

  @include breakpoint(tablet up) {
    padding-top: gu(4);
  }

  @include breakpoint(desktop up) {
    padding-top: gu(6);
  }
}

.v-home-story {
  @include breakpoint(tablet up) {
    margin-bottom: gu(4);
  }

  @include breakpoint(desktop up) {
    margin-bottom: gu(6);
  }
}

.v-home-section .page-block-headline {
  @include baseline(s8, $headingtype, 2, $below: 2);
  @include baseline(s9, $headingtype, 3, $below: 2, $breakpoint: tablet-small up);
}

.v-home-section .page-block-sub {
  @include baseline(s3, $bodytype, 1);
}

.v-home-testimonials {
  max-width: $narrow-parts-width;
  margin: auto;
  text-align: center;

  .page-block-sub {
    padding-bottom: gu(2);
    max-width: 35em;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(tablet up) {
      padding-bottom: gu(4);
    }
  }
}

.v-home-pricing {
  max-width: $narrow-parts-width;
  margin: auto;
  text-align: center;
}

.v-home-principle {
  margin: auto;

  .page-block-headline {
    text-align: center;
  }
}
