$narrow-parts-width: gu(45);


.v-home-meet-karmen {
  padding-top: gu(4);
}

.v-home-pricing,
.v-home-testimonials,
.v-home-story,
.v-home-principle,
.v-home-specs,
.v-home-contact,
.v-home-solution {
  padding-top: gu(2);

  @include breakpoint(tablet up) {
    padding-top: gu(4);
  }

  @include breakpoint(desktop up) {
    padding-top: gu(6);
  }
}

.v-home-contact {
  margin-bottom: gu(6);
}

.v-home-story {
  margin-bottom: gu(4);
}

.v-home-section .page-block-headline {
  @include baseline(s8, $headingtype, 2, $below: 2);
  @include baseline(s9, $headingtype, 3, $below: 2, $breakpoint: tablet-small up);
}

.v-home-story .page-block-sub,
.v-home-section .page-block-sub {
  @include baseline(s3, $bodytype, 1);
}

.v-home-pricing {
  text-align: center;
}

.v-home-principle {
  margin: auto;

  .page-block-headline {
    text-align: center;
  }
}

.v-home-options {
  .options-title {
    text-align: center;
  }
}
