$narrow-parts-width: gu(45);


.v-home-solution,
.v-home-pricing,
.v-home-testimonials,
.v-home-story,
.v-home-principle,
.v-home-specs {
  padding-top: gu(6);
}

.v-home-story {
  margin-bottom: gu(6);
}

.v-home-section .page-block-headline {
  @include baseline(s9, $headingtype, 2, $below: 2);
}

.v-home-section .page-block-sub {
  @include baseline(s3, $bodytype, 1);
}

.v-home-testimonials {
  max-width: $narrow-parts-width;
  margin: auto;
  text-align: center;

  .page-block-sub {
    padding-bottom: gu(2);
  }
}

.v-home-pricing {
  max-width: $narrow-parts-width;
  margin: auto;
  text-align: center;
}

.v-home-principle {
  margin: auto;
  text-align: center;
}
