.arrow-list {
  list-style-type: none;
  padding-left: gu(.75);


  @include baseline(s3, $bodytype, 1, $above: 0, $below: 0);
}

.arrow-list__item {
  position: relative;

  &:before {
    display: block;
    content: " ";
    position: absolute;
    top: .5rem;
    left: 0;
    margin-left: gu(-.75);
    width: gu(.3);
    height: gu(.3);
    background-color: map-get($palette, red);
  }
}

