@mixin buttonStyle($foreground, $background, $foregroundHover, $backgroundHover) {
    color: $foreground;
    background-color: $background;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-family: getFontFamily($bodytype);
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;

    @include fontsize(s2);

    &:hover,
    &:focus {
        color: $foregroundHover;
        background: $backgroundHover;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
      background: map-get($palette, gray-dark);
    }
}

.button,
a.button {
    display: inline-block;
    padding: 0 gu(1.5);
    line-height: gu(3);
    height: gu(3);
    border: 0;

    @include buttonStyle(
        map-get(map-get($button-variants, primary), foreground),
        map-get(map-get($button-variants, primary), background),
        map-get(map-get($button-variants, primary), foregroundHover),
        map-get(map-get($button-variants, primary), backgroundHover)
    );
}


@each $variantName, $variantSettings in $button-variants {
    .button.button--#{$variantName} {
        @include buttonStyle(
            map-get($variantSettings, foreground),
            map-get($variantSettings, background),
            map-get($variantSettings, foregroundHover),
            map-get($variantSettings, backgroundHover)
        );
    }
}

.button.button--responsive {
  width: 100%;
  text-align: center;

  @include breakpoint(tablet-tiny up) {
    width: auto;
  }
}
