@mixin buttonPulse($name, $color) {
  @keyframes button-pulse-#{$name} {
    0% {
      box-shadow: 0 0 0 0px fade-out($color: $color, $amount: 0.2);
    }
    100% {
      box-shadow: 0 0 0 gu(1) fade-out($color: $color, $amount: 1);
    }
  }
  animation: button-pulse-#{$name} 1s infinite;
}

@mixin buttonStyle(
  $name,
  $foreground,
  $background,
  $foregroundHover,
  $backgroundHover
) {
  color: $foreground;
  background-color: $background;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-family: getFontFamily($bodytype);
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;

  @include fontsize(s2);

  &:hover:not(.button--loading),
  &:focus {
    color: $foregroundHover;
    background: $backgroundHover;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: wait;
  }

  &:disabled:not(.button--loading) {
    background: map-get($palette, gray-dark);
  }

  &.button--loading {
    @include buttonPulse($name, $background);
  }
}

.button,
a.button {
  display: inline-block;
  padding: 0 gu(1);
  line-height: gu(3);
  height: gu(3);
  border: 0;

  @include breakpoint(tablet up) {
    padding: 0 gu(1.5);
  }

  @include buttonStyle(
    "primary",
    map-get(map-get($button-variants, primary), foreground),
    map-get(map-get($button-variants, primary), background),
    map-get(map-get($button-variants, primary), foregroundHover),
    map-get(map-get($button-variants, primary), backgroundHover)
  );
}

@each $variantName, $variantSettings in $button-variants {
  .button.button--#{$variantName} {
    @include buttonStyle(
      $variantName,
      map-get($variantSettings, foreground),
      map-get($variantSettings, background),
      map-get($variantSettings, foregroundHover),
      map-get($variantSettings, backgroundHover)
    );
  }
}

.button.button--responsive {
  width: 100%;
  text-align: center;

  @include breakpoint(tablet-tiny up) {
    width: auto;
  }
}

.button--shifted {
  transform: translateY(gu(-1.5));
}
