.buy {
  display: flex;
  padding-top: gu();
}

.buy__image {
  display: none;
  width: 100%;
  max-width: gu(19.5);
  margin-right: gu(2);
}

.buy__form {
  width: 100%;

  .page-block-headline {
    text-align: center;

    @include baseline(s8, $headingtype, 2, $below: 1);
    @include baseline(s8, $headingtype, 2, $below: 1, $breakpoint: tablet up);
    @include baseline(s7, $headingtype, 2, $below: 1, $breakpoint: desktop up);
  }
}

.buy__disabled-warning {
  background: map-get($palette, white);
  padding: gu(1) gu(2);
}

@include breakpoint(tablet-small up) {
  .buy {
    padding-top: gu(4);
    margin-bottom: gu(6);
  }
}


@include breakpoint(tablet up) {
  .buy__image {
    display: block;
  }

  .buy__form {
    max-width: gu(28);

    .page-block-headline {
      text-align: left;
    }
  }
}
