@mixin casesFontOver {
  color: map-get($palette, white);
  text-shadow: 0 0 gu(.5) rgba(0, 0, 0, 0.5);
}

.cases {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet-small up) {
    flex-direction: row;
  }
}

.cases__box {
  width: 100%;
  display: flex;

  @include breakpoint(tablet-small up) {
    margin-bottom: 0;
  }

  @include breakpoint(tablet up) {
    height: gu(23);
  }

  @include breakpoint(desktop up) {
    height: gu(25)
  }

  &:not(:last-of-type) {
    margin-bottom: gu(1);

    @include breakpoint(tablet-small up) {
      margin-bottom: 0;
    }
  }

  .cases__inner-box {
    position: relative;
    padding: gu(2) gu(1) 0;

    @include breakpoint(tablet-small up) {
      padding: gu(2);
    }

    @include breakpoint(desktop up) {
      padding: gu(6) gu(3) gu(4);
    }

    &:before {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
    }

    h1 {
      @include baseline(s7, $headingtype, 2, $above: 2, $below: 1);
      @include baseline(s7, $headingtype, 2, $below: 1, $breakpoint: tablet-small up);
      @include casesFontOver();
    }

    p {
      @include baseline(s3, $bodytype, $below: 2);
      @include baseline(s4, $bodytype, $lineheight: 1.5, $above:0, $below: 0, $breakpoint: tablet up);

      @include breakpoint(tablet-small up) {
        @include casesFontOver();
      }
    }
  }

  .cases__inner-desc {
    background: map-get($palette, white);
    margin: 0 gu(-1);
    padding: gu(1);

    @include breakpoint(tablet-small up) {
      background: transparent;
    }
  }
}
