@mixin casesFontOver {
  color: map-get($palette, white);
  text-shadow: 0 0 gu(.5) rgba(0, 0, 0, 0.5);
}

.cases {
  display: flex;
  flex-direction: column;
}

.cases__box {
  width: 100%;
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: gu(1);
  }
}

.cases__inner-box {
  position: relative;
  padding: gu(2) gu(1) 0;

  &:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  h1 {
    @include baseline(s7, $headingtype, 2, $above: 2, $below: 2);
    @include baseline(s7, $headingtype, 2, $below: 2, $breakpoint: tablet-small up);
    @include casesFontOver();
  }

  p {
    @include baseline(s3, $bodytype, $below: 2);
    @include baseline(s4, $bodytype, $lineheight: 1.3, $below: 0, $breakpoint: tablet-small up);
  }
}

.cases__inner-desc {
  background: map-get($palette, white);
  margin: 0 gu(-1);
  padding: gu(1);
}

@include breakpoint(tablet-small up) {
  .cases {
    flex-direction: row;
  }

  .cases__box,
  .cases__box:not(:last-of-type) {
    margin-bottom: 0;
  }

  .cases__inner-desc {
    background: transparent;
  }

  .cases__inner-box {
    p {
      @include casesFontOver();
    }
  }
}

@include breakpoint(desktop up) {
  .cases__inner-box {
    padding: gu(6) gu(4) gu(4);
  }
}
