.checkout-form {
  background: map-get($palette, white);

  h2 {
    @include baseline(s6, $headingtype, 2, $below: 2, $above: 0);
  }
}

.checkout-form__body {
  padding: gu(1) gu(1) gu(2);

  &--wdivider {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      border: 1px map-get($palette, gray-semilight) solid;
    }
  }
}

.checkout-form__variant {
  background: map-get($palette, red);

  .form-label {
    color: map-get($palette, white);
  }

  .form-control {
    color: map-get($palette, white);
    background-color: map-get($palette, red);
    border: 1px map-get($palette, white) solid;

    &:focus {
      background-color: map-get($palette, red);
    }
  }

  .form-control-wrapper--select {
    &:after {
      color: map-get($palette, white);
    }
  }
}

.checkout-form__quantity-field {
  max-width: gu(4);
  margin: 0;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    -moz-appearance: textfield;
  }

  .form-control {
    width: auto;
    min-width: 0;
    padding: 0;
    text-align: center;
  }
}

.checkout-form__quantity-field-row {
  display: flex;
  height: gu(3);
  // border is totally overriden for this one - see .form-control compensation below
  border: 1px map-get($palette, white) solid;

  button {
    color: map-get($palette, white);
    background-color: transparent;
    border: 0;
    font-size: 1.8rem;
    min-width: gu(1.5);
    -webkit-appearance: none;
    -moz-appearance: none;

    &.minus {
      padding-left: gu(.5);
    }
    &.plus {
      padding-right: gu(.5);
    }
  }

  .form-control {
    border: 0;
    height: calc(#{gu(3)} - 2px);

  }
}

.checkout-form__summary-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: gu();
}

.checkout-form__summary-item {
  @include baseline(s4, $bodytype);
}

.checkout-form__summary-price-main,
.checkout-form__summary-price-note {
  display: block;
  text-align: right;
}

.checkout-form__summary-price-main {
  font-weight: bold;

  @include baseline(s5, $bodytype);
}

.checkout-form__summary-price-note {
  transform: translateY(gu(-0.25)); // grid break intentional

  @include baseline(s2, $bodytype);
}


.checkout-form__summary-line--total {
  .checkout-form__summary-item {
    @include baseline(s4, $bodytype, $above: 1);
  }

  .checkout-form__summary-price-main {
    color: map-get($palette, red);

    @include baseline(s7, $bodytype, 2);
  }
}

.checkout-form__corona-warning {
  margin-bottom: gu(1);
}

.checkout-form__submit {
  display: flex;
  flex-direction: column;

  .button {
    flex-grow: 1;
    margin-top: gu();
  }

  p {
    @include baseline(s2, $bodytype);
  }
}


@include breakpoint(tablet up) {
  .checkout-form__body {
    padding: gu(1) gu(2) gu(2);
  }

  .checkout-form__submit {
    flex-direction: row;

    p {
      width: 70%;
      min-width: 20em;
      padding-right: gu();
    }

    .button {
      margin-top: 0;
    }
  }
}
