.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: map-get($sitenav-height, mobile);
  background-color: map-get($palette, gray-light);
  overflow: hidden;

  @include breakpoint(tablet-tiny up) {
    padding-top: map-get($sitenav-height, tablet-tiny);
  }

  &--nopush {
    padding-top: 0;
  }
}

.page-container-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $page-container-max-width;
  margin-left: auto;
  margin-right: auto;
  // padding-top: map-get($sitenav-menu-height, mobile);
  text-align: left;
}

  // @include breakpoint(tablet up) {
  //     padding-top: map-get($sitenav-menu-height, tablet);
  // }

  // @include breakpoint(desktop up) {
  //     padding-top: map-get($sitenav-menu-height, desktop);
  // }

