.contact {
  margin-bottom: gu(2);
  display: flex;
  background: map-get($palette, white);
  flex-flow: column;
  @include breakpoint(desktop up) {
    flex-flow: row;
    margin-bottom: gu(4);
  }
}
.contact-page {
  padding-top: gu(2);
  @include breakpoint(desktop up) {
    padding-top: gu(4);
  }
}

.contact__column {
  flex-grow: 1;
  margin-right: gu(2);
  h2 {
    @include baseline(s5, $headingtype, 1, $below: 1);
    text-transform: uppercase;
  }
}

.contact-box-wrap {
  display: flex;
  flex-flow: column;
  @include breakpoint(tablet-small up) {
    flex-flow: row;
  }
  @include breakpoint(fullhd up) {
    flex-flow: column;
  }
}

.contact-box {
  flex-grow: 1;
  margin-top: gu(2);
  //+ .contact-box {
  //  @include breakpoint(tablet up) {
  //    margin-top: gu(2);
  //  }
  //}
}

.contact__headline {
  @include baseline(s8, $headingtype, 1, $below: 1);
}
