@mixin cbPadding($width) {
    padding-left: $width;
    padding-right: $width;
}

@mixin cbMargin($width) {
    margin-left: $width;
    margin-right: $width;
}

@mixin contentBlockVariant($baseMaxWidth, $mobilePadding: 1.5, $defaultPadding: 1.5) {
  max-width: $baseMaxWidth + gu($mobilePadding)*2;

  @include breakpoint(desktop up) {
    max-width: $baseMaxWidth + gu($defaultPadding)*2;
  }
}

@mixin contentBlock($mobilePadding: 1, $defaultPadding: 3) {
  width: 100%;

  @include cbMargin(auto);
  @include cbPadding(gu($mobilePadding));

  @include breakpoint(tablet up) {
    @include cbPadding(gu($defaultPadding));
  }

  @include contentBlockVariant($page-content-max-width, $mobilePadding, $defaultPadding);

  &--narrow {
    @include contentBlockVariant(gu(45), $mobilePadding, $defaultPadding);
  }
  &--narrower {
    @include contentBlockVariant(gu(30), $mobilePadding, $defaultPadding);
  }
  &--sitenavwide {
    @include contentBlockVariant($sitenav-max-width, $mobilePadding, $defaultPadding);
  }
  &--sitenavinnerwide {
    @include contentBlockVariant($sitenav-max-width - gu(6), $mobilePadding, $defaultPadding);
  }
}

.content-block {
  @include contentBlock();
}

.content-block.content-block--shift-mobile {
  width: auto;

  @include cbMargin(gu(-1));

  @include breakpoint(tablet-small up) {
    width: 100%;
    @include cbMargin(auto);
  }
}

.content-block--move-up {
  margin-top: gu(-4);
  z-index: 10;
}

.content-block--cover-mobile {
  @include cbMargin(gu(-1.5));

  @include breakpoint(tablet-small up) {
      @include cbMargin(auto);
  }
}
