.footer {
  background: map-get($palette, white);
}

.footer__section {
  position: relative;
  padding: gu(2) 0;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: map-get($palette, gray-semilight);
    height: 1px;
  }
}

.footer-sitelinks {
  display: flex;

  .footer__karmenlogo {
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: gu(-.75);
  }
}

.footer__karmenlogo {
  display: none;
  height: gu(5);

  @include breakpoint(tablet-small up) {
    display: block;
  }
}

.footer__brandinfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(mobile up) {
    flex-direction: row;
  }
}

.footer__meta {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__brand {
  display: block;
  height: gu(1.666);
}

.footer__copy {
  padding-left: 0;
  letter-spacing: 0.09em;
  padding-left: gu(0.5);
  text-align: left;
}

.footer__copy-line {
  font-family: #{map-get($headingtype, font-family)};

  @include baseline(
    s2,
    $headingtype,
    $lineheight: 0.5,
    $breakpoint: mobile down
  );
  @include fontsize(s2, $breakpoint: tablet-small up);

  @include breakpoint(tablet-small up) {
    line-height: 1.15;
  }
}

.footer__copy-line--emphasized {
  font-family: getFontFamily($headingtype);
  font-weight: bold;
}

.footer__bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @include breakpoint(mobile up) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-linkgroups__title {
  @include baseline(s7, $headingtype, 2, $below: 2);
}

.footer-linkgroups__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint(tablet-small up) {
    flex-direction: row;
  }
}

.footer-linkgroups__group {
  padding-right: gu(1);

  @include breakpoint(tablet-tiny up) {
    padding-right: gu(2);
  }

  @include breakpoint(desktop up) {
    padding-right: gu(3);
  }
}

.footer-linkgroups__item {
  a {
    @include anchor-style();
  }
}
