.gitter-link {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: gu(3);

  @include breakpoint(tablet up) {
    right: 0;
    top: gu(12.5);
  }
}

.gitter-link__button {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: map-get($palette, white);
  background: map-get($palette, black);
  text-align: center;
  width: gu(6);
  height: gu(3);

  @include breakpoint(tablet up) {
    padding: gu(0.5) gu(2);
    width: gu(9);
  }

  &:hover {
    background: map-get($palette, red);
  }

  @include breakpoint(tablet up) {
    transform: rotate(270deg);
    transform-origin: right bottom;
  }
}

.gitter-link__caption {
  color: currentColor;
  padding-top: 4px;
  font-family: #{map-get($bodytype, font-family)};
  @include fontsize(s2, $breakpoint: zero up);
}

.gitter-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gitter-logo-img,
.gitter-logo-text {
  display: block;
  fill: currentColor;
}

.gitter-logo-img {
  height: gu(.5);
}

.gitter-logo-text {
  height: gu(.4);
  margin-left: gu(0.25);
}
