.gitter-link {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: gu(3);
  display: none;

  @include breakpoint(tablet-tiny up) {
    display: block;
  }

  @media screen and (min-width: $sitenav-breakpoint) {
    right: gu(-6); // match button width
    top: gu(19); // match HP hero section height
  }

  @include breakpoint(desktop up) {
    top: gu(22);
  }
}

.gitter-link__button {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: map-get($palette, white);
  background: map-get($palette, black);
  text-align: center;
  width: gu(6);
  height: gu(3);
  transition: all .3s ease-in-out;

  @include breakpoint(tablet up) {
    padding: gu(0.5) gu(2);
    width: gu(9);
  }

  &:hover {
    background: map-get($palette, red);
  }

  @media screen and (min-width: $sitenav-breakpoint) {
    transform: rotate(270deg) translateY(37px);
    transform-origin: left top;
    transition: all .3s ease-in-out;

    &:hover {
      transform: rotate(270deg) translateY(0);
    }
  }
}

.gitter-link__caption {
  color: currentColor;
  padding-top: 14px;
  font-family: #{map-get($bodytype, font-family)};
  @include fontsize(s2, $breakpoint: zero up);
}

.gitter-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gitter-logo-img,
.gitter-logo-text {
  display: block;
  fill: currentColor;
}

.gitter-logo-img {
  height: gu(.5);
}

.gitter-logo-text {
  height: gu(.4);
  margin-left: gu(0.25);
}
