.hero__headline {
  z-index: 1;

  @include baseline(s8, $headingtype, 2, $above: 2, $below: 1);
  @include baseline(s8, $headingtype, 2, $above: 3, $below: 1, $breakpoint: mobile up);
  @include baseline(s8, $headingtype, 2, $above: 4, $below: 1, $breakpoint: tablet-tiny up);
  @include baseline(s9, $headingtype, 2.5, $above: 4, $below: 1, $breakpoint: tablet-small up);

  @include breakpoint(desktop up) {
    @include baseline(s9, $headingtype, 2.5, $above: 4.5, $below: 1);
  }
}

.hero__sub,
.hero__above {
  z-index: 1;
}

.hero__sub {
  @include baseline(s4, $bodytype, 1, $below: 1);
}
.hero__cover {
  position: relative;
}
.hero__circle {
  width: 1160px;
  height: 1160px;
  border-radius: 50%;
  background-color: map-get($palette, gray-light);
  position: absolute;
  bottom: 120px;
  right: -218px;
}
.hero__image {
  padding-bottom: gu(5);
  &:before,
  &:after {
    @include breakpoint(tablet-small down) {
      background-image: none !important;
    }
  }
}

