.hero {
  background-size: cover;
  height: gu(24);
}

.hero__cover {
  position: relative;
  height: 100%;

  &:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}

.hero__headline {
  color: map-get($palette, white);
  z-index: 1;
  text-shadow: 0 0 gu(.5) rgba(0, 0, 0, 0.5);

  @include baseline(s9, $headingtype, 3, $above: 9);
}

.hero__sub,
.hero__above {
  color: map-get($palette, white);
  z-index: 1;
  text-shadow: 0 0 gu(.5) rgba(0, 0, 0, 0.5);
}

.hero__sub {
  @include baseline(s4, $bodytype, 1, $below: 1, $above: 2);
}

.hero__cta {
  transform: translateY(gu(-1.5));
}
