.v-press {
  text-align: center;
  padding-bottom: gu(4);

  h3 {
    @include baseline(s7, $headingtype, 1.5, $below: 1, $above: 2);
    @include baseline(s7, $headingtype, 1.5, $below: 1, $above: 3, $breakpoint: tablet-small up);
  }

  p {
    @include baseline(s3, $bodytype, 1, $below: 2);
    @include baseline(s4, $bodytype, 1, $below: 3, $breakpoint: tablet-small up);
  }

  .page-block-headline {
    text-align: center;

    @include baseline(s8, $headingtype, 2, $above: 3, $below: 2);
    @include baseline(s8, $headingtype, 2, $above: 4, $below: 3, $breakpoint: mobile up);
    @include baseline(s9, $headingtype, 2.5, $above: 4, $below: 3, $breakpoint: tablet-small up);

    @include breakpoint(desktop up) {
      @include baseline(s9, $headingtype, 2.5, $above: 4, $below: 3);
    }
  }
}

.v-press-post:not(:first-child) {
  h3 {
    position: relative;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -1px;
      width: 100%;
      background: map-get($palette, gray-medium);
      height: 1px;
    }
  }
}
