.pricing {
  display: flex;
  position: relative;
  flex-direction: column;

  @include breakpoint(tablet-small up) {
    padding-top: gu();
    // flex-direction: row;
  }
}

.pricing__box {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  // background: map-get($palette, white);
  text-align: left;
  position: relative;

  @include breakpoint(tablet up) {
    min-height: gu(4);
  }

  .price__item {
    width: gu(4);
    white-space: nowrap;
    @include baseline(s4, $headingtype, 0);
    @include baseline(s5, $headingtype, 0, $breakpoint: tablet-small up);

    @include breakpoint(tablet-small up) {
      width: gu(10);
    }
  }

  .price__sum {
    flex: 1;

    h3 {
      color: map-get($palette, olive-green);
      text-transform: uppercase;

      @include baseline(s4, $headingtype, 0);
      @include baseline(s5, $headingtype, 0, $breakpoint: tablet-small up);
    }
  }

  .price__note {
    position: absolute;
    @include baseline(s1, $bodytype, .55);
    @include baseline(s2, $bodytype, .75, $breakpoint: tablet-small up);
  }

  .pricing__box-img {
    width: gu(4);
    padding: 0 gu(.5);

    @include breakpoint(tablet-small up) {
      width: gu(11);
      padding: gu(.5) gu(3.8) gu(.5) gu(3.8);
    }

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  &:first-child {
    .pricing__box-img {
      padding: gu(0) gu(1);

      @include breakpoint(tablet-small up) {
        padding: gu(.5) gu(4.5) gu(.5) gu(4.5);
      }
    }

    .price__sum h3 {
      color: $primary-color;
    }
  }
}

.pricing__box--emphasized {
  margin-top: gu(1);
  padding-top: gu(1);
  @include baseline-border(map-get($palette, red), 2px);

  @include breakpoint(tablet-small up) {
    min-height: gu(6);
  }

  .pricing__box-img {
    width: gu(4);
    padding: gu(.5);

    @include breakpoint(tablet-small up) {
      width: gu(11);
      padding: gu(.5) gu(2.5);
    }
  }

  .price__item {
    @include baseline(s5, $headingtype, 0);
    @include baseline(s7, $headingtype, 0, $breakpoint: tablet-small up);
  }

  .price__sum {
    h3 {
      color: map-get($palette, red);
      @include baseline(s5, $headingtype, 0);
      @include baseline(s7, $headingtype, 0, $breakpoint: tablet-small up);

    }
  }
}

.pricing__offerinfo {
  margin-left: gu(0.25);
}

.pricing__buybutton.button {
  position: relative;
  // Override default button styles
  margin: gu(2) auto 0;
  padding-left: gu(3.5);
  padding-right: gu(2);
  text-align: left;

  &:before {
    display: block;
    position: absolute;
    left: gu(2);
    width: gu(1);
    font-family: $icomoon-font-family;
    content: $icon--cart;
    color: currentColor;
    font-size: 1.6em;
    font-weight: normal;
  }
}
