.pricing {
  position: relative;
}
.pricing-circle {
  width: 1570px;
  height: 1570px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: absolute;
  top: 0;
  left: -528px;
  z-index: -1;
}
