.principle {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  margin: auto;
}

.principle__box {
  display: flex;
  width: 100%;
  background: map-get($palette, white);
  text-align: left;
  position: relative;
}

.principle-box {
  &--emphasized {
    background: map-get($palette, red);

    &,
    .principle-box__sub {
      color: map-get($palette, white);
    }

    .principle-box__img i {
      font-size: 144px;
    }
  }
}

.principle-box__title {
  // @note: this is fixed by compensating on principle-box__content bottom padding
  @include baseline(s7, $headingtype, 2, $below: 1);
  @include baseline(s6, $headingtype, 1.25, $below: 1, $breakpoint: desktop up);
}

.principle-box__sub {
  color: map-get($palette, red);
  @include baseline(s2, $bodytype, $below: 0);
  @include baseline(s2, $bodytype, $below: 1, $breakpoint: desktop up);

  a {
    @include anchor-style();
  }
}

.principle-box__img {
  display: none;
}

.principle-box__content {
  position: relative;
  // @note: see .principle-box__title
  // Avoid overlap with .principle-box__nr
  padding: gu(1) gu(3) gu(2) gu(1);

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: map-get($palette, gray-semilight);
    height: 1px;
  }
}

.principle-box--emphasized {
  .principle-box__nr {
    color: map-get($palette, red);
    background-color: map-get($palette, white);
  }
}

// First principle box has no divider
.principle-box:first-of-type .principle-box__content:after {
  background: transparent;
}

@include breakpoint(desktop up) {
  .principle {}

  .principle__box {
    + .principle__box {
      border-left: 1px map-get($palette, gray-semilight) solid;
    }
  }

  .principle-box__title {
    padding-right: 0;
  }

  .principle-box__nr {
    flex: 1;
    padding-left: gu(3);
    color: map-get($palette, red);
    text-align: right;
    font-weight: bold;
    @include baseline(s9, $bodytype, 2, $above: 2, $below: 0);
  }

  .principle-box--emphasized .principle-box__nr {
    color: map-get($palette, white);
    background-color: transparent;
  }

  .principle-box__img {
    flex: 1;
    width: 100%;
    display: flex;
    padding: gu(1) gu(10) gu(1) gu(3);

    .principle-box__img-body {
      display: block;
      width: 100%;
      // margin: auto;
      // @note: needs to be fixed for the bottom line to work
      // height: auto;
    }
  }

  .principle-box__content {
    flex: 1;
    padding: gu(1) gu(3) gu(1.5);
  }

  // Last box cuts the hanging line part
  .principle-box--cutoff {
    overflow: hidden;
  }

  // Image - content dividiers
  // Even first box should have the divider in portrait mode
  .principle-box:first-of-type .principle-box__content:after {
    background: map-get($palette, gray-semilight);
  }
  .principle-box--emphasized.principle-box__content:after {
    background: lighten(map-get($palette, red), $amount: 10);
  }

  // Draw dashed line connecting individual boxes.
  .principle-box:not(.principle-box--emphasized) .principle-box__img {
    position: relative;
    z-index: 2;
  }
}
