.principle {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  text-align: left;
}

.principle__box {
  display: flex;
  width: 100%;
  min-height: gu(4);
  background: map-get($palette, white);
  position: relative;

  @include baseline-border($color: map-get($palette, gray-semilight));

  &:first-child {
    @include baseline-border-cancel();
  }
}

.principle-box {
  &--emphasized {
    background: map-get($palette, red);

    @include baseline-border-cancel();

    &,
    .principle-box__sub {
      color: map-get($palette, white);
    }

    .principle-box__nr .principle-box__nr-text {
      color: map-get($palette, white);
    }

    .principle-box__img {
      min-height: gu(4);
      justify-content: center;
      font-size: 3rem;
    }
  }
}

.principle-box__title {
  // @note: this is fixed by compensating on principle-box__content bottom padding
  @include baseline(s6, $headingtype, 1, $above:0, $below: 0);
}

.principle-box__sub {
  color: map-get($palette, red);
  @include baseline(s3, $bodytype, $below: 0);

  a {
    @include anchor-style();
  }
}

.principle-box__nr {
  padding: gu(1) gu(.5) gu(0) gu(1);

  @include breakpoint(tablet-small up) {
    padding: gu(1.5) gu(1) gu(0) gu(3);
  }

  .principle-box__nr-text {
    color: map-get($palette, red);
    text-align: right;
    font-weight: bold;
    @include baseline(s8, $bodytype, 1, $above: .4, $below: 0);
    @include baseline(s6, $bodytype, 1, $above: 0, $below: 0,  $breakpoint: tablet-small up);
  }
}

.principle-box__content {
  flex: 1;
  position: relative;
  padding: gu(1) gu(1) gu(1) 0;

  @include breakpoint(tablet-small up) {
    padding: gu(1.5) gu(1.5) gu(1) 0;
  }
}

.principle-box__img {
  display: none;

  @include breakpoint(tablet-small up) {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: gu(6);
    padding: gu(1);
  }

  .principle-box__img-body {
    display: block;
    width: 100%;
    // margin: auto;
    // @note: needs to be fixed for the bottom line to work
    // height: auto;
  }
}
