

.sitenav {
  width: 100%;
  position: fixed;
  top: 0;
  background: $sitenav-background;
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 1000;
}

.sitenav__menu {
  @include contentBlock(1);
  height: map-get($sitenav-height, mobile);
  display: flex;
  align-items: stretch;
  font-family: getFontFamily($bodytype);
  text-transform: uppercase;

  @include breakpoint(tablet up) {
    height: map-get($sitenav-height, tablet);
  }
}

.sitenav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 gu();

  img {
    height: gu(2);
    margin-bottom: 4px;
  }
}

.sitenav__links {
  display: flex;
  align-items: center;
}

.sitenav__company
.sitenav__langswitch,
.sitenav__link {
  @include anchor-behavior();
}

.sitenav__langswitch,
.sitenav__link {
  @include fontsize(s2);
}

.sitenav__link {
  margin: 0 gu(1);
  cursor: pointer;
  letter-spacing: 2px;
  display: none;

  &:not(&--lowprio) {
    @include breakpoint(mobile up) {
      display: block;
    }
  }

  &--lowprio {
    @include breakpoint(tablet up) {
      display: block;
    }
  }
}

.sitenav__company {
  margin: 0;
  font-family: getFontFamily($headingtype);
  font-weight: map-get($headingtype, semi);
  font-size: 1.7rem;
  letter-spacing: .01rem;
}

.sitenav__langswitch {
  background: map-get($palette, gray-light);
  margin-left: gu(1);
  padding: gu(0.3) gu(0.5);
  margin-right: gu(.5);

  @include breakpoint(mobile up) {
    margin-left: gu(1.5);
  }

  @include breakpoint(tablet up) {
    margin-left: gu(2.5);
  }
}

.sitenav__anchorpush {
  position: relative;
}

.sitenav__anchor {
  position: absolute;
  top: -1* map-get($sitenav-height, mobile) - gu();
}
