.sitenav {
  width: calc(100% - (100% - 100vw)); // posune o kousek navku aby neskákala když zmizí scrollbar na overflow hidden
  position: fixed;
  top: 0;
  z-index: 1000;
}

.sitenav,
.sitenav__mobile-menu {
  background: $sitenav-background;
  backdrop-filter: saturate(180%) blur(10px);
}

.sitenav__menu {
  @include contentBlockVariant($sitenav-max-width, 0, 0);

  height: map-get($sitenav-height, mobile);
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  font-family: getFontFamily($bodytype);
  text-transform: uppercase;

  @include breakpoint(tablet-tiny up) {
    height: map-get($sitenav-height, tablet-tiny);
  }
}

.sitenav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .25rem 0 .5rem;

  @include breakpoint(tablet-tiny up) {
    padding: 0 1rem 0 1.5rem;
  }

  img {
    height: gu(1.3);
    width: 2rem;
    margin-bottom: 4px;

    @include breakpoint(tablet-tiny up) {
      height: gu(2);
    }
  }
}

.sitenav__links {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.sitenav__company
.sitenav__langswitch,
.sitenav__link {
  @include anchor-behavior();
}

.sitenav__langswitch,
.sitenav__link {
  @include fontsize(s2);
}

.sitenav__link {
  padding: 0 gu(1);
  cursor: pointer;
  letter-spacing: 2px;
  display: none;

  &:not(&--lowprio) {
    @media screen and (max-width: $sitenav-breakpoint) {
      display: block;
    }
  }

  &--lowprio {
    @media screen and (min-width: $sitenav-breakpoint) {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}

.sitenav__company {
  display: block;
  margin: 0;
  margin-right: gu(1);
  padding-left: 0;
  font-family: getFontFamily($headingtype);
  font-weight: map-get($headingtype, semi);
  font-size: 1.25rem;
  letter-spacing: .01rem;

  @include breakpoint(mobile up) {
    margin-right: gu(1.5);
  }

  @include breakpoint(tablet-tiny up) {
    margin-right: gu(2.5);
    font-size: 1.5rem;
  }
}

.sitenav__langswitch {
  background: map-get($palette, gray-light);
  padding: gu(0.3) gu(0.5);
  margin-right: gu(.5);
}


.sitenav__anchorpush {
  position: relative;
}

.sitenav__anchor {
  position: absolute;
  top: -1 * map-get($sitenav-height, mobile);

  @include breakpoint(tablet up) {
    top: -1 * map-get($sitenav-height, tablet-tiny);
  }
}

.sitenav__right {
  display: flex;
  align-items: center;

  @media screen and (min-width: $sitenav-breakpoint) {
    position: absolute;
    right: 0;
  }
}

.sitenav__mobile-menu {
  padding: gu(1) gu(1);

  .bm-item {
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: none;
    color: map-get($palette, black);

    @include baseline(s3, $bodytype, 2);
  }

  .bm-overlay {
    background: none;
  }

  .bm-item:focus,
  .bm-item:hover {
    outline: none;
    color: map-get($palette, red);
  }
}

.sitenav__mobile-menu-toggle {
  height: map-get($sitenav-height, mobile);
  width: gu(2);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: map-get($palette, black);
  padding: gu(.5);

  @include breakpoint(tablet-tiny up) {
    height: map-get($sitenav-height, tablet-tiny);
    width: gu(3);
    padding: gu(.75);

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -1px;
      height: map-get($sitenav-height, tablet-tiny);
      border: 1px lighten(map-get($palette, black), $amount: 30) solid;
    }
  }

  @media screen and (min-width: $sitenav-breakpoint) {
    display: none;
  }
}

.sitenav__mobile-overlay {
  background: $sitenav-background;
  backdrop-filter: saturate(80%) blur(4px);
}

// Display gitter link in the menu until it has it's own button (see gitter-link styles)
.sitenav__gitter-link {
  @include breakpoint(tablet-tiny up) {
    display: none !important;
  }
}
