.solution {
  overflow: hidden;
}

.solution__inner {
  padding-bottom: gu(7);

  @include breakpoint(tablet-tiny down) {
    padding-bottom: gu(3);
    // Hide desktop background image at the right.
    &:before,
    &:after {
      background-image: none !important;
    }
  }
}

.solution__headline {
  @include baseline(s8, $headingtype, 2);
  @include baseline(s9, $headingtype, 3, $above: 0, $breakpoint: desktop up);
}

.solution__sub {
  @include baseline(s4, $bodytype, 1, $below: 2, $above: 1);
  @include baseline(s4, $bodytype, 1, $below: 1, $above: 1, $breakpoint: desktop up);
}

.solution__mobileimage {
  height: gu(6);
  margin-right: gu(-6);
  margin-left: gu(-1);
  margin-bottom: gu();
}

.solution__carousel,
.solution__carousel .carousel__slider--horizontal {
  @include breakpoint(tablet-tiny up) {
    height: gu(9);
  }

  @include breakpoint(mobile up) {
    height: gu(10);
  }

  @include breakpoint(tablet-small up) {
    height: gu(9);
  }
}

.solution__carousel {
  width: 100%;

  h3 {
    @include baseline(s6, $headingtype, 1, $below: 1, $above: 0);
    @include baseline(s6, $headingtype, 2, $below: 1, $breakpoint: mobile up);
  }
  p {
    @include baseline(s4, $bodytype, 1, $above: 0);
  }

  .carousel__dot-group {
    display: flex;
    height: gu();
    align-items: center;
  }

  .carousel__dot,
  .carousel__back-button,
  .carousel__next-button {
    border: none;
    background: none;
    padding: 0;
  }

  .carousel__dot {
    background: map-get($palette, gray-medium);
    width: 12px;
    height: 12px;

    &--selected {
      background: map-get($palette, red);
    }

    + .carousel__dot {
      margin-left: 1rem;
    }
  }

  .carousel__back-button,
  .carousel__next-button {
    font-size: 20px;
    color: map-get($palette, red);

    &[disabled] {
    color: map-get($palette, gray-medium);
    }
  }
  .carousel__back-button {
    margin-right: gu();
  }
  .carousel__next-button {
    margin-left: gu();
  }
}

.solution__carousel-controls {
  display: flex;
}

@include breakpoint(mobile down) {
  .carousel__back-button {
    margin-right: auto !important;
  }

  .carousel__next-button {
    margin-left: auto !important;
  }
}

@include breakpoint(mobile up) {
  .solution__carousel {
    max-width: 35em;
  }
}

@include breakpoint(tablet-small up) {
  .solution__mobileimage {
    display: none;
  }

  .solution__carousel {
    max-width: 28em;
  }
}
