.solution {
  overflow: hidden;
  text-align: center;
}

.solution__inner {
  padding-bottom: gu(7);

  @include breakpoint(tablet-tiny down) {
    padding-bottom: gu(3);
    // Hide desktop background image at the right.
    &:before,
    &:after {
      background-image: none !important;
    }
  }
}

.solution__headline {
  @include baseline(s8, $headingtype, 2);
  @include baseline(s9, $headingtype, 3, $above: 0, $breakpoint: desktop up);
}

.solution__sub {
  @include baseline(s4, $bodytype, 1, $below: 2, $above: 1);
  @include baseline(s4, $bodytype, 1, $below: 1, $above: 1, $breakpoint: desktop up);
}
