.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "story  team"
                       "story  contact";
  grid-gap: 0;
  background: map-get($palette, white);
}

.story-box {
  padding: gu(3);
}

.story__story {
  grid-area: story;
  padding-left: gu(4);

  h1 {
    @include baseline(s7, $headingtype, 2, $below: 1);
  }

  p {
    @include baseline(s3, $bodytype, 1, $below: 2);
  }
}

.story__team,
.story__contact {
  border-left: 1px map-get($palette, gray-semilight) solid;

  h1 {
    @include baseline(s6, $headingtype, 2, $below: 1);
  }

  p {
    @include baseline(s3, $bodytype);
  }
}

.story__team {
  grid-area: team;
  border-bottom: 1px map-get($palette, gray-semilight) solid;
}

.story__contact {
  grid-area: contact;
}

