.subscription-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background: map-get($palette, red);
  padding: gu(2) gu(1.5);
  color: map-get($palette, white);

  @include breakpoint(tablet up) {
    flex-direction: row;
  }

  @include breakpoint(tablet up) {
    padding: gu(2) gu(3);
  }
}

.subscription-box__caption {
  flex: 1;
}

.subscription-box__title {
  @include baseline(s7, $headingtype, 1, $above: 0);
  @include baseline(s7, $headingtype, 1.5, $above: 0, $breakpoint: desktop up);
}

.subscription-box__subtitle {
  @include baseline(s3, $bodytype, 1, $below: 1);
  @include baseline(s5, $bodytype, 1, $breakpoint: desktop up);
}

.subscription-box__form {
  align-self: center;
  flex: 1;
  width: 100%;

  .form-control-wrapper {
    margin: 0;
    padding: 0;
  }

  .button {
    transform: translateY(gu(-0.5));
  }

  @include breakpoint(mobile up) {
    .button {
      transform: translateY(0);
    }
  }

  @include breakpoint(tablet up) {
    margin-left: auto;

    .button {
      width: auto;
      transform: none;
    }
  }
}

.subscription-box__input {
  margin-left: auto;

  @include breakpoint(tablet up) {
    max-width: 30em;
  }
}

.subscription-box__form {
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet up) {
    flex-direction: row;
  }
}
