.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: gu();
}

.testimonials__item {
  text-align: center;
}

.testimonials__image {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: gu(1.5);
}

@include breakpoint(mobile up) {
  .testimonials {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(tablet-small up) {
  .testimonials {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: gu(2) gu();

    .testimonials__image {
      max-width: 100%;
      max-height: gu(1.5);
    }
  }
}
