<span itemprop="{% if include.prop %}{{ include.prop }}{% else %}image{% endif %}" itemtype="http://schema.org/ImageObject" itemscope class="hidden">
    <meta itemprop="caption" content="{{ site.company.official_name }}">
    {% if include.prop == 'logo' %}
        <meta itemprop="url" content="{{ 'assets/favicons/android-chrome-144x144.png' | absolute_url }}">
        <meta itemprop="width" content="144">
        <meta itemprop="height" content="144">
    {% else %}
        <meta itemprop="url" content="{{ 'assets/img/karmen-logo.png' | absolute_url }}">
        <meta itemprop="width" content="272">
        <meta itemprop="height" content="507">
    {% endif %}
</span>
